@tailwind base;
@tailwind components;
@tailwind utilities;

/*pretendard*/
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
}

.table {
  border-spacing: 0 15px;
  border-collapse: separate;
}

.column {
  border-radius: 7px;
  box-shadow: 0 0 0 1px #49824f;
}

/* .table tr {
  border-radius: 20px;
  border-color: white;
}

tr td:nth-child(n + 5),
tr th:nth-child(n + 5) {
  border-radius: 0 0.625rem 0.625rem 0;
  border-color: "#49824F";
}

tr td:nth-child(1),
tr th:nth-child(1) {
  border-radius: 0.625rem 0 0 0.625rem;
  border-color: "#49824F";
} */
